body{
  background: #352f5b;
  font-family: monospace;
  font-size: 1.2rem;
}

.container{
  max-width: 400px;
}
input[type=text],
input[type=text]:focus{
  color: #e6e2dd;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}
.todos li{
  background: #423a6f;
}
.delete{
  cursor: pointer;
}
.filtered{
  display: none !important;
}